html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{

    background: url(background.jpg) no-repeat center center fixed;
}

.container {
    color: black;
    width: 500px;
    text-align: center;
}

#hl1 {
    margin: auto;
    color: black;
    width: 100px;
    text-align: center;
}

#resultTable{
    margin-right: 70px;
    text-align: center;
    position: relative;
}